* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
}

h1 {
    color: #5f1a37;
}

ul {
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}